body {
  background-color: #fffdfa;
}

/*КЛАССЫ НИЖЕ ОТВЕЧАЮТ ЗА ЦВЕТОВУЮ ПОЛИТРУ КЛАССА*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff790e;
}

p {
  color: #77787a;
}

a {
  color: #0abab3;
}

i {
  color: #0abab3;
}

.bg-main-colors {
  background-color: #ffffff;
}

/* .bg-accent-colors {
  background-color: #b9f1ef;
} */

.accent-colors {
  background-color: #037974;
}

.over-accent-color {
  background-color: #288b88;
}

.text-accent-colors {
  color: #f7f4ef;
}

.text-main-colors-lists li a {
  color: #77787a;
}

.accent-colors-list li a {
  background-color: #037974;
}

/*  ЭТО СТИЛИ ДЛЯ КОРРЕКТНОЙ РАБОТЫ КОНТЕНТА МОДАЛЬНЫХ ОКОН НА ВСЕХ СТРАНИЦАХ */
.modal-body__image-size {
  width: 300px;
  height: 130px;
}

.modal-body__description-size {
  max-width: 400px;
}

.modal-body__button-size {
  width: 250px;
}

/*  ЭТО СТИЛИ ДЛЯ КОРРЕКТНОЙ РАБОТЫ ХЕДЕРА, ПОКА ВЫНЕЧЕНЫ ГЛОБАЛЬНО */
@media (max-width: 991.98px) {
  .nav-menu__logo-mobile {
    display: flex !important;
  }
  .nav-menu__logo-desktop {
    display: none !important;
  }
  .navbar-collapse__menu-item {
    display: block !important;
  }
}
