body {
  background-color: #fffdfa;
}

/*КЛАССЫ НИЖЕ ОТВЕЧАЮТ ЗА ЦВЕТОВУЮ ПОЛИТРУ КЛАССА*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #334a6a;
}

p {
  color: #77787a;
}

a {
  color: #334a6a;
}

i {
  color: #334a6a;
}

.bg-main-colors {
  background-color: #ffffff;
}

.bg-accent-colors {
  background-color: #f7f4ef;
}

.accent-colors {
  background-color: #a1814e;
}

.over-accent-color {
  background-color: #334a6a;
}

.text-accent-colors {
  color: #f7f4ef;
}

.text-main-colors-lists li a {
  color: #77787a;
}

.accent-colors-list li a {
  background-color: #a1814e;
}

/*  ЭТО СТИЛИ ДЛЯ КОРРЕКТНОЙ РАБОТЫ КОНТЕНТА МОДАЛЬНЫХ ОКОН НА ВСЕХ СТРАНИЦАХ */
.modal-body__image-size {
  width: 300px;
  height: 130px;
}

.modal-body__description-size {
  max-width: 400px;
}

.modal-body__button-size {
  width: 250px;
}

/*  ЭТО СТИЛИ ДЛЯ КОРРЕКТНОЙ РАБОТЫ ХЕДЕРА, ПОКА ВЫНЕЧЕНЫ ГЛОБАЛЬНО */
@media (max-width: 991.98px) {
  .nav-menu__logo-mobile {
    display: flex !important;
  }
  .nav-menu__logo-desktop {
    display: none !important;
  }
  .navbar-collapse__menu-item {
    display: block !important;
  }
}
